.container {
    border-radius: 16px;
    padding: 30px 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}