* {
    font-optical-sizing: auto;
    font-weight: 400;
}

body {
    margin: 0px;
}

.bs-flex-container {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 160px;
    padding-right: 160px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 45px;
}

p {
    font-size: 20px;
}

.color {
    &-purple {
        color: #6246EA;
    }
}