* {
  font-optical-sizing: auto;
  font-weight: 400;
}

body {
  margin: 0;
}

.bs-flex-container {
  padding: 120px 160px;

  &.l {
    padding: 20px 100px;
  }
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

p, li {
  font-size: 20px;
  line-height: 30px;
}

.color {
  &-white {
    color: #FFFFFE;
  }

  &-purple {
    color: #6246EA;
  }

  &-light-grey {
    color: #D2D6DB;
  }

  &-grey {
    color: #C0C0C0;
  }

  &-dark-grey {
    color: #9A9494;
  }

  &-black {
    color: #2B2C34;
  }
}

.bg {
  &-white {
    background-color: #FFFFFE;
  }

  &-black {
    background-color: #2B2C34;
  }

  &-light-black {
    background-color: #2A2D32;
  }

  &-purple {
    background-color: #6246EA;
  }

  &-light-grey {
    background-color: #EFF0F3;
  }

  &-grey {
    background-color: #C0C0C0;
  }

  &-dark-grey {
    background-color: #9A9494;
  }
}

.button {
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid rgba(143, 148, 155, 0.5);
  cursor: pointer;

  &.sm {
    padding: 8px 12px;
  }
}