.wrapper {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;

    p {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.moreButton {
    font-size: 24px;
    cursor: pointer;
    position: relative;
    top: -6px;
}

.moreButtonMenu {
    position: absolute;
    right: -80px;
    top: -95px;
    padding: 10px;
    
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 10;
    min-width: 80px;

    border: 1px solid #333;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    overflow: hidden;

    button {
        cursor: pointer;
    }

    button:hover {
        color: #b8b8b8;
    }
}

.category {
    display: flex;
    align-items: center;
    margin-top: auto;

    span {
        font-size: 13px;
        border-radius: 18px;
    }
}

.badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    padding: 5px 10px;
}

.dot {
    width: 12px;
    height: 12px;
}

.green {
    background-color: #22c55e;
}

.blue {
    background-color: #3b82f6;
}

.red {
    background-color: #ef4444;
}