.tabs {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 20px 0;
}

.tab {
    position: relative;
    padding: 12px 0;
    background: none;
    border: none;
    cursor: pointer;

    font-size: 16px;
    font-weight: 500;

}

.tab:hover {
    opacity: 0.8;
}

.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 3px;
    background-color: #6246EA;
    border-radius: 2px;
}