.wrapper {
    height: auto;
    min-height: 91vh;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
    overflow: hidden;
}

.open {
    min-width: 220px;
}

.closed {
    width: 58px;
}

.header {
    margin-top: 15px;
    display: flex;
    justify-content: end;
}

.toggle {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    li {
        cursor: pointer;
        transition: color 0.3s ease;
    }

    li:hover {
        color: #6246EA;
    }
}

.section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.active {
    color: #9b5cff;
    font-weight: bold;
    position: relative;
}

.active::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #9b5cff;
    border-radius: 0 4px 4px 0;
}

.addBtn {
    cursor: pointer;
    font-size: 20px;
}