.wrapper {
    height: auto;
    min-height: 91vh;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
    overflow: hidden;
}

.open {
    min-width: 220px;
}

.closed {
    width: 58px;
}

.header {
    margin-top: 15px;
    display: flex;
    justify-content: end;
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #9b5cff;
}

.toggle {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    li {
        cursor: pointer;
        transition: color 0.3s ease;
    }

    li:hover {
        color: #6246EA;
    }
}

.section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    font-size: 20px;
}

.active {
    color: #9b5cff;
    font-weight: bold;
}