.bannerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #9A9494;
    border-radius: 20px;
}

.bannerContent {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding: 30px;
}

.bannerImg {
    transform: scale(1.2);
}