.container {
    display: flex;
    gap: 50px;
    /* align-items: flex-start; */
}

.bannerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #9A9494;
    border-radius: 20px;
    width: 100%;
}

.bannerContent {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding: 30px;
}

.bannerImg {
    transform: scale(1.4);
    margin-right: 50px;
}

.calendarContainer {
    border-radius: 20px;
    padding: 5px 10px;
}