.header {
    height: 68px;
    display: flex;
    align-items: center;

    background: #fff;
}

.headerContent {
    width: 100%;
    margin: auto 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    font-size: 24px;
    font-weight: 700;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 100px;
}

.headerLinks {
    display: flex;
    gap: 50px;
}

.link {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    transition: color 0.3s ease;
}

.link:hover {
    color: #6246EA;
}

.headerButtons {
    display: flex;
    gap: 15px;
}

.headerInfo {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}
